# External dependencies
/external/*
!/external/perl
/external/perl/*
!/external/perl/cpan
/external/perl/cpan/*
!/external/perl/cpan/MyConfig.pm
.venv/
venv/

# Caches
__pycache__/
lightning_logs/
memo/
feature-cache.h5

# Editors
.vscode/
